* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 0.75fr repeat(3, 1fr);
}

.navbar {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    background-color: aqua;
}

.header {
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    grid-column: 1 / 1;
}

#search {
    width: 65%;
}

.user-status {
    grid-column: 2 / 2;
    display: flex;
    justify-content: end;
    gap: 3rem;
}

.greeting {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatar-large {
    grid-column: 1 / 1;
    align-self: center;
    justify-self: center;
}

.user-greeting {
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.buttons {
    grid-column: 2 /2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.dashboard {
    padding: 0 2rem;
}

.content-body {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

li {
    list-style: none;
    font-size: x-large;
    padding-top: 1rem;
}

footer {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
}
