* {
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: fit-content;
    height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}
.container {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr);
}

.navbar {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #e7ecef;
    box-shadow: 0px 5px 5px;
}

.navbar img {
    filter: invert(17%) sepia(91%) saturate(457%) hue-rotate(171deg)
        brightness(94%) contrast(89%);
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.search img {
    padding: 8px;
}

#search {
    width: 60%;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 5rem;
}

.user-status {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    gap: 15px;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.avatar-large {
    display: grid;
    place-items: center;
}

.avatar-large img {
    height: 5rem;
}

.profile-avatar img {
    height: 2.5rem;
}

.hello-user h4,
.hello-user h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15px;
}

.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 25px;
    gap: 2rem;
}

button {
    width: 5rem;
    height: 2rem;
    border-radius: 5rem;
    outline: none;
    border: transparent;
    background-color: #6096ba;
    color: #e7ecef;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    background-color: #6096ba;
    padding-right: 100px;
    color: #e7ecef;
}

.dashboard img {
    height: 3rem;
    filter: invert(100%) sepia(1%) saturate(6011%) hue-rotate(173deg)
        brightness(100%) contrast(88%);
}

.dashboard h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 20px;
}

.content-body {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #8b8c89;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.project-header {
    padding-left: 15px;
    font-weight: 500;
}

.project-container {
    display: grid;
    height: fit-content;
}

.card {
    border-radius: 0.5rem;
    padding: 15px;
    background-color: #e7ecef;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    border-left: 8px solid #274c77;
    box-shadow: 3px 3px 5px #60615f;
}

.card h2 {
    font-weight: 500;
    margin-bottom: 2px;
}

.card-icons {
    display: flex;
    align-self: center;
    justify-self: end;
    padding-right: 15px;
    padding-top: 15px;
    gap: 15px;
}

.announcement-header h2,
.trend-header h2 {
    margin-left: 15px;
    font-weight: 500;
}

.announcements,
.trends {
    display: grid;
    background-color: #e7ecef;
    border-radius: 0.5rem;
    margin: 15px;
    padding: 20px;
    border-left: 8px solid #274c77;
    box-shadow: 3px 3px 5px #60615f;
}

.announcement {
    font-size: smaller;
}

.trends {
    padding: 10px;
}

#site-maintenance {
    margin-top: 0;
}

.user-message {
    display: flex;
    flex-direction: column;
}

.message {
    font-size: smaller;
}

.trend {
    display: flex;
    gap: 15px;
    padding: 8px;
    align-items: center;
}

.announcements h3 {
    font-weight: 500;
    margin-bottom: 2px;
}

.trend img {
    height: 3rem;
}

#maul {
    width: 48px;
}

li {
    list-style: none;
    font-size: x-large;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu img {
    filter: invert(100%) sepia(1%) saturate(6011%) hue-rotate(173deg)
        brightness(100%) contrast(88%);
}

footer {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #6096ba;
}

i {
    color: #274c77;
}
